html, body {
    height: 100%;
    margin: 0;
}

/* ---------------------------- Definying Grid ---------------------------- */
.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    gap: 1rem; /* gap between grid areas */

    color: white;
    
    margin: 2rem;

    border-radius: 1rem;
}

/* ---------------------------- Grid Areas ---------------------------- */
header {
    grid-area: header;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);
    
    border-radius: inherit;
}

#main {
    grid-area: main;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

footer {
    grid-area: footer;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

/* #--------------------------# Geral #--------------------------# */
/* ---------------------------- a anchor ---------------------------- */
a:hover, a:active {
    color: #B030B0;
}

/* #--------------------------# Header : list #--------------------------# */
ul.inline-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove default bullet points */
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* #--------------------------# Main : #--------------------------# */

/* ---------------------------- About Me ---------------------------- */
.container-about-me {
    margin: 1rem;
    border-radius: inherit;
    border: solid 1px white;
    background-color: black;
    display: flex;
    gap: 0rem; 
}

.about-me-text {
    margin: 2rem;
}

.me-name {
    font-size: 200%;
    font-weight: 900;
    color: #6C91BF;
}

.me-subtitle {
    font-size: 120%;
    font-weight: 900;
        text-align: justify;
}

p {
    text-indent: 2rem;
    text-align: justify;
    margin: 1rem;
}

/* ---------------------------- Let's talk ---------------------------- */
.nav-button {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.a-button {
    padding: 10px 20px;
    background-color: #602080; 
    color: #fff; 
    border-radius: 5px; 
}

.a-button:hover, 
.a-button:active {
    box-shadow: 0 0 1rem 0 #ffffff;
    color: white;
}

/* ---------------------------- Icons ---------------------------- */
.nav-icons {
    margin: 1rem;
}

.social-profile {
    font-size: 100%;
}

.nav-icons ul {
    margin: 1rem;
    display: flex;
    gap: 2rem;
    list-style-type: none; /* Remove default bullet points */
}

.nav-icons ul li:hover,
.nav-icons ul li:active {
    box-shadow: 0 0 1rem 0.5rem rgba(108, 145, 191, 0.5); /* Adjust the color and shadow size as needed */
}

.nav-icons a {
    color: white;
}

/* ---------------------------- Profile Photo ---------------------------- */
figure {
    position: relative;
}

.profile-photo {
    width: 25rem;
    border-radius: 1rem;
    border: 1px solid white;
    margin: 2rem;
    box-shadow: 0 0 1rem 0 #B030B0; /*[horizontal offset] [vertical offset] [blur radius] [spread radius] [color]*/
}

figcaption {
    padding: 5px;
    background-color: rgba(11, 0, 0, 0.5);
    color: white;
    width: 24.4rem;

    position: absolute;
    bottom: 2.2rem;
    left: 2rem;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    font-size: 90%;
}

/* #--------------------------# Footer : #--------------------------# */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* #--------------------------# Google Fonts #--------------------------# */
body {
    font-family: "Lora", sans-serif;
}

.about-me-text {
    font-family: "PT Serif", sans-serif;
}

nav.nav-icons, 
nav.nav-button {
    font-family: "Merriweather", sans-serif;
}
