html, body {
    height: 100%;
    margin: 0;
}

/* ---------------------------- Definying Grid ---------------------------- */
.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    gap: 1rem; /* gap between grid areas */

    color: white;
    margin: 2rem;
    border-radius: 1rem;
}

/* ---------------------------- Grid Areas ---------------------------- */
header {
    grid-area: header;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);
    
    border-radius: inherit;
}

#main {
    grid-area: main;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

footer {
    grid-area: footer;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

/* #--------------------------# Geral #--------------------------# */
/* ---------------------------- a anchor ---------------------------- */
a:hover, a:active {
    color: #B030B0;
}

/* #--------------------------# Header : list #--------------------------# */
ul.inline-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove default bullet points */
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* #--------------------------# Main : #--------------------------# */

/* ---------------------------- Main Card ---------------------------- */
.block {
    margin: 1rem;
    border-radius: inherit;
    border: solid 1px white;
    background-color: black;

    color: white;   
    border-radius: 1rem;

    display: flex;
    padding: 3rem;
    gap: 4rem;
}

.block ul {
    list-style-type: none; 
    padding: 1rem;
}

.block ul li{
    padding: 5px;
}

.contact h1 {
    font-size: 150%;
    font-weight: 900;
    color: #6C91BF;
}

.icons-list ul{
    display: flex;
    gap: 1rem;
}

.icons-list ul li:hover,
.icons-list ul li:active {
    box-shadow: 0 0 1rem 0.5rem rgba(108, 145, 191, 0.5); /* Adjust the color and shadow size as needed */
}

.icons-list a {
    color: white;
}

/* ---------------------------- Rectangular ---------------------------- */
.rectangular-out {
    position: relative; 
    width: 15rem;
    height: 20rem;
    background: linear-gradient(#f0f, #0ff);
    box-shadow: 0 0 1rem 0.5rem rgba(66, 165, 175, 0.5); 
}

.rectangular-inner {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This moves the .rectangular-inner back by 50% of its own width and height, effectively centering it within the .retcangular */
    width: 96%; 
    height: 96%; 
    background: rgb(0, 0, 0, 0.9);
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    gap: 3rem;
}

/* #--------------------------# Footer : #--------------------------# */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;
}

/* #--------------------------# Google Fonts #--------------------------# */
body {
    font-family: "Lora", sans-serif;
}

#card, #card-each {
    font-family: "Merriweather", sans-serif;
}

#description-each h1, h2, h3 {
    font-family: "PT Serif", sans-serif;
    font-weight: normal;

    padding: 5px;
}

#description-each h1 {
    font-weight: 900;
    font-size: 110%;
}



