html, body {
    height: 100%;
    margin: 0;
}

/* ---------------------------- Definying Grid ---------------------------- */
.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    gap: 1rem; /* gap between grid areas */

    color: white;
    
    margin: 2rem;

    border-radius: 1rem;
}

/* ---------------------------- Grid Areas ---------------------------- */
header {
    grid-area: header;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);
    
    border-radius: inherit;
}

#main {
    grid-area: main;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

footer {
    grid-area: footer;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

/* #--------------------------# Geral #--------------------------# */
/* ---------------------------- a anchor ---------------------------- */
a:hover, a:active {
    color: #B030B0;
}

a:hover .card,
a:active .card {
    color: #ffffff;
}

/* #--------------------------# Header : list #--------------------------# */
ul.inline-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove default bullet points */
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* #--------------------------# Main : #--------------------------# */
.cards-block {
    margin: 1rem;
    border-radius: inherit;
    border: solid 1px white;
    background-color: black;

    color: white;   
    border-radius: 1rem;
}

.cards-line {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    padding: 2rem;
}

.welcome {
    border: 1px solid rgb(84, 84, 84);
    border-radius: 1rem;

    width: 28rem;
    text-align: center;

    box-shadow: rgb(44, 45, 45) 0 0 1rem 0.5rem;
}

.welcome h1 {
    font-size: 200%;
    font-weight: 900;
    color: #6C91BF;
    padding: 2rem;
}

.welcome h2 {
    font-size: 120%;
    font-weight: 900;
    text-align: center;
}

figure {
    border-radius: inherit;
}

img {
    border: 1px solid rgb(84, 84, 84);
}

.line {
    width: 100%;
    height: 0.1rem;
    background: linear-gradient(90deg, #6C91BF, #B030B0);
}

.laptop-img {
    width: 24rem;
}

.education-img {
    width: 24rem;
}

.experience-img {
    width: 24rem;
}



/* #--------------------------# Hover Cards #--------------------------# */
.card:hover .rectangular-inner{
    background: rgb(0, 0, 0, 0.8);
}

/* .card:hover i{
    box-shadow: 0 0 1rem 0 #0ff;;
} */

/* ---------------------------- Rectangular ---------------------------- */
.rectangular-out {
    position: relative; 
    width: 15rem;
    height: 20rem;
    background: linear-gradient(#f0f, #0ff);
    box-shadow: 0 0 1rem 0.5rem rgba(66, 165, 175, 0.5); 
}

.rectangular-inner {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This moves the .rectangular-inner back by 50% of its own width and height, effectively centering it within the .retcangular */
    width: 96%; 
    height: 96%; 
    background: rgb(0, 0, 0, 0.9);
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    gap: 3rem;
}

.rectangular-inner h1 {
    padding: 0.5rem;
    text-align: center;
}








/* #--------------------------# Footer : #--------------------------# */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;
}

/* #--------------------------# Google Fonts #--------------------------# */
body {
    font-family: "Lora", sans-serif;
}

.about-me-text {
    font-family: "PT Serif", sans-serif;
}

nav.nav-icons, 
nav.nav-button {
    font-family: "Merriweather", sans-serif;
}
