html, body {
    height: 100%;
    margin: 0;
}

/* ---------------------------- Definying Grid ---------------------------- */
.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    gap: 1rem; /* gap between grid areas */

    color: white;
    
    margin: 2rem;

    border-radius: 1rem;
}

/* ---------------------------- Grid Areas ---------------------------- */
header {
    grid-area: header;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);
    
    border-radius: inherit;
}

#main {
    grid-area: main;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

footer {
    grid-area: footer;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

/* #--------------------------# Geral #--------------------------# */
/* ---------------------------- a anchor ---------------------------- */
a:hover, a:active {
    color: #B030B0;
}

/* #--------------------------# Header : list #--------------------------# */
ul.inline-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove default bullet points */
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* #--------------------------# Main : #--------------------------# */

/* ---------------------------- Blog ---------------------------- */
.container-login {
    margin: 1rem;
    border-radius: inherit;
    border: solid 1px white;
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
}

fieldset {
    margin: 1rem;
    border-radius: inherit;
    border: solid 1px white;
    padding: 2rem;
}

legend {
    color: white;
    font-size: 130%;
    font-weight: bold;
    text-align: center; 
}

input {
    width: 25rem;
}
.new-post {
    width: 25rem; /* Set the width of the input */
    height: 15rem; /* Set the height of the input */
}

.buttons {
    display: flex;
    justify-content: center;
}

.button-login, .button-preview {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: solid 1px white;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 110%;
}

.button-login:hover, .button-preview:hover {
    background: rgba(166, 141, 39, 0.6);
}

/* #--------------------------# Footer : #--------------------------# */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* #--------------------------# Google Fonts #--------------------------# */
body {
    font-family: "Lora", sans-serif;
}

.about-me-text {
    font-family: "PT Serif", sans-serif;
}

nav.nav-icons, 
nav.nav-button {
    font-family: "Merriweather", sans-serif;
}
