html, body {
    height: 100%;
    margin: 0;
}

/* ---------------------------- Definying Grid ---------------------------- */
.container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    gap: 1rem; /* gap between grid areas */

    color: white;
    
    margin: 2rem;

    border-radius: 1rem;
}

/* ---------------------------- Grid Areas ---------------------------- */
header {
    grid-area: header;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);
    
    border-radius: inherit;
}

#main {
    grid-area: main;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

footer {
    grid-area: footer;
    
    border: 1px rgb(255, 255, 255) solid;

    background-color: rgba(0, 0, 0, 0.3);

    border-radius: inherit;
}

/* #--------------------------# Geral #--------------------------# */
/* ---------------------------- a anchor ---------------------------- */
a:hover, a:active {
    color: #B030B0;
}

/* #--------------------------# Header : list #--------------------------# */
ul.inline-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none; /* Remove default bullet points */
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* #--------------------------# Main : #--------------------------# */

/* ---------------------------- Main Card ---------------------------- */
.block {
    margin: 1rem;
    border-radius: inherit;
    border: solid 1px white;
    background-color: black;

    color: white;   
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 5rem;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-text p {
    text-indent: 2rem;
    text-align: justify;
    margin: 1rem;
}

.skills-text bold{
    font-weight: 900;
    color: #B030B0;
}

.skills {
    border: 1px solid rgb(84, 84, 84);
    border-radius: 1rem;

    text-align: center;

    box-shadow: rgb(44, 45, 45) 0 0 1rem 0.5rem;

    padding-right: 2rem;
    padding-left: 2rem;
}

.skills h1 {
    font-size: 150%;
    font-weight: 900;
    color: #6C91BF;
    padding: 1rem;
}

.skills ul li {
    font-size: 100%;
    font-weight: 200;
    list-style-type: none; /* Remove default bullet points */
    margin-bottom: 1rem;
    white-space: nowrap;
}

.technologies li {
    white-space: normal; /* or pre-wrap */
}


/* ---------------------------- Rectangular ---------------------------- */
.rectangular-out {
    position: relative; 
    width: 15rem;
    height: 20rem;
    background: linear-gradient(#f0f, #0ff);
    box-shadow: 0 0 1rem 0.5rem rgba(66, 165, 175, 0.5); 
}

.rectangular-inner {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This moves the .rectangular-inner back by 50% of its own width and height, effectively centering it within the .retcangular */
    width: 96%; 
    height: 96%; 
    background: rgb(0, 0, 0, 0.9);
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    gap: 3rem;
}

.rectangular-inner h1 {
    padding: 0.5rem;
    text-align: center;
}

/* ---------------------------- List Experience ---------------------------- */
ul.list-exp {
    display: flex;
    justify-content: center;
    gap: 10rem;
    list-style-type: none; /* Remove default bullet points */

    margin: 3rem;
}


/* ---------------------------- List Rectangular ---------------------------- */
.rectangular-out-list {
    position: relative; 
    width: 12rem;
    height: 16rem;
    background: linear-gradient(#f0f, #0ff);
    box-shadow: 0 0 1rem 0.5rem rgba(66, 165, 175, 0.5); 
}

.rectangular-inner-list {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* This moves the .rectangular-inner back by 50% of its own width and height, effectively centering it within the .retcangular */
    width: 96%; 
    height: 96%; 
    background: rgb(0, 0, 0, 0.9);
}

.container-card {
    display: grid;
    grid-template-areas: 
    'name'
    'icon'
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;

    gap: 1rem; /* gap between grid areas */

    color: white;
    
    margin: 1rem;
    border: 1px solid white;
}

#name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* text-align is used to align text content within block-level elements */
    flex-wrap: wrap; /* Allow content to wrap onto multiple lines */
    padding-top: 1rem;
}

#icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* ---------------------------- Experiences ---------------------------- */
.container-each {
    border-radius: inherit;
    border: solid 1px white;
    background-color: black;

    display: grid;

    grid-template-areas: 
    'card-each description-each';

    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto;

    color: white;   
    margin: 1rem;
    border-radius: 1rem;

    align-items: center; 

    padding: 3rem;
}

#description-each {
    grid-area: description-each;
    margin-left: 2rem;
}

.icon-off:hover {
    box-shadow: none;
}

#description-each li {
    text-indent: 2rem;
    text-align: justify;
    margin: 1rem;
}

.icons li {
    display: flex;
    gap: 2rem;
    justify-content: center; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.icons img {
    width: 3rem;
}

.icons figcaption {
    opacity: 0;
}

.icons:hover figcaption,
.icons:hover img {
    opacity: 1;
}

/* #--------------------------# Footer : #--------------------------# */
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    padding-left: 2rem;
    padding-right: 2rem;
}

/* #--------------------------# Google Fonts #--------------------------# */
body {
    font-family: "Lora", sans-serif;
}

#card, #card-each {
    font-family: "Merriweather", sans-serif;
}

#description-each h1, h2, h3 {
    font-family: "PT Serif", sans-serif;
    font-weight: normal;

    padding: 5px;
}


#description-each h1 {
    font-weight: 900;
    font-size: 110%;
}

